/* Navbar styles */
.transparentContainer {
    position:fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
}

div.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    /*background-color: transparent;*/
    text-align: left;
    z-index: 1000;
    justify-content: space-between;
}

div.navbar span {
    font-size: 2rem;
}

.navbarTextContainer {
    height: 1.95rem; /* Equal to 3rd party library's github button*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0.9rem;
}

/* Search bar styles */
.searchBar {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    width: 60%;
    height: inherit;
    margin: 0.5rem 0.5rem 0.1rem 5rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 0 0.1rem #9d9d9d;
    background-color: #efefef; /* Matching Pinterest */
}

.searchBar:focus-within {
    outline-width: 0;
    box-shadow: 0 0 0 0.25rem #91b9ff;
}

.searchBarIcon {
    margin: 0 0.25rem 0 0.75rem;
}

input.search {
    width: 100%;
    background-color: #efefef; /* Matching Pinterest */
    border-color: transparent;
    border-radius: 0.4rem;
    font-size: 1rem;
    color: #333 /* Matching Pinterest */
}

.search:focus {
    outline: 0;
}

.navBarTextItem:hover {
    cursor: default;
}

.suggestionsContainer {
    width: 60%;
    margin: 0 0 0 5rem;
    background-color: #efefef;
    border-radius: 0rem 0rem 0.75rem 0.75rem;
    box-shadow: 0 0 0 0.1rem #91b9ff;

}
.suggestions {
    padding: 0.5rem 0 0.5rem 2rem;
}
.suggestionItem {
    margin-bottom: 0.1rem;
}
form {
    width: 90%
}
