/* Commonly used containers */
.container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container-column {
  display: flex;
  flex-direction: column;
  width:100%;
}

.center {
  justify-content: center;
}
